@import '~@fluentui/react/dist/sass/References.scss';

.careerMarketplace {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }



}


// .links {
//   a {
//     text-decoration: none;
//     color: "[theme:link, default:#03787c]";
//     color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only

//     &:hover {
//       text-decoration: underline;
//       color: "[theme:linkHovered, default: #014446]";
//       color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
//     }
//   }
// }

.labelStyle {
  font-weight: 700;
  :global{
    .ms-Label{
      font-weight: 700;
      color: 'black';
    }
  }
    
}

.stepper {

  display: flex;
  justify-content: center;
   

  :global {

    .ant-steps {
      width: 50%;
    }
  
    .ant-steps .ant-steps-item-process .ant-steps-item-icon {
      background: #03787c;
      border-color: #03787c;
    }

    .ant-steps .ant-steps-item-process .ant-steps-item-icon >.ant-steps-icon {
      color:#03787c;
      font-weight: bold;
    }

    .ant-steps .ant-steps-item-process .ant-steps-item-icon {
      background-color: white;
      border: 2px solid #03787c!important;
    }

    .ant-steps .ant-steps-item-finish .ant-steps-item-icon {
      background-color: #03787c;
    }

    .anticon svg{
      color: white;
      font-size: 16px;
      text-shadow: white;
    }

    .ant-steps .ant-steps-item-tail::after {
      border: 1px solid #03787c;
    }

    .ant-steps .ant-steps-item-wait .ant-steps-item-icon {
      background-color: #e1dfdd;
      border: 2px solid #03787c;
    }

    .ant-steps .ant-steps-item-wait>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title
    .ant-steps .ant-steps-item-wait .ant-steps-item-icon >.ant-steps-icon {
      color: #03787c;
    }

    .ant-steps .ant-steps-item-process>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title {
      color: #03787c;
    }
  
    .ant-steps .ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title {
      color: #03787c;
    }


    .ant-steps.ant-steps-label-vertical .ant-steps-item-tail{
      padding: 2px 16px;
    }

    .ant-steps .ant-steps-item-title {
      font-size: 12px;
    }

    .ant-steps.ant-steps.ant-steps-label-vertical .ant-steps-item-content{
      margin-top:0px;
    }

    .ant-steps .ant-steps-item-icon .ant-steps-icon {
      top: -1px;
    }


    @media (max-width: 900px) {
      .ant-steps {
        width: auto!important;
      }
    }

    @media (max-width: 550px) {
      .ant-steps {
        width: auto!important;
      }
    }
  }  

}




.error {
  border: 1px solid rgb(164, 38, 44)!important;
  border-radius: 2px;
}

.borderRemove{
  border: transparent;
}

.errorLine {
  border-left: 2px solid rgb(164, 38, 44);
  margin: 0px;
  padding-left: 5px;
}

.errorDialog {
  border: 2px solid rgb(164, 38, 44);
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
}

.languageLabels {
  display: 'flex';
  font-weight: 700;
}

.width200{
  width: 200px!important;
}

.durationLengthInput {
  font-size: 14px;
  color: rgb(50,49,48);
  height: 100%;
  padding: 0px 8px 0px 9px;
  min-width: 61px;
  height:30px;
  white-space: nowrap;
  text-overflow: ellipsis;
  border: 1px solid rgb(96, 94, 92);
  border-radius: 2px;
}
.numbOfOppInput {
  font-size: 14px;
  color: rgb(50,49,48);
  height: 100%;
  padding: 0px 8px 0px 9px;
  //min-width: 61px;
  height:30px;
  white-space: nowrap;
  text-overflow: ellipsis;
  border: 1px solid rgb(96, 94, 92);
  border-radius: 2px;
}

.instruction {
  font-weight: 400;
  font-size: 14px;
  color: #605E5C;
  margin: 0px;
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.mrg0 {
  margin:0;
}

input[type="number"][disabled] {
  color: rgb(161, 159, 157);
  border: none;
 
}

input[type="text"][disabled] {
  color: rgb(161, 159, 157);
}

:global {


  .ms-Dropdown.is-disabled .ms-Dropdown-title {
    color: #a6a6a6; 
  }

  .ms-TextField.is-disabled .ms-TextField-field {
    color: #a6a6a6;   
  }
}

:global {
  .ms-Dropdown:focus::after , .css-75:focus {
    border: 3px solid #03787c;   
  }

}

 
.responsiveSpinner {
  display: flex;
  align-items: center;
}






 




