@import '~@fluentui/react/dist/sass/References.scss';

.careerMarketplace {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }



}


// .links {
//   a {
//     text-decoration: none;
//     color: "[theme:link, default:#03787c]";
//     color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only

//     &:hover {
//       text-decoration: underline;
//       color: "[theme:linkHovered, default: #014446]";
//       color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
//     }
//   }
// }

.labelStyle {
  font-weight: 700;
  :global{
    .ms-Label{
      font-weight: 700;
      color: 'black';
    }
  }
    
}

.stepper {

  display: flex;
  justify-content: center;
   

  :global {

    .ant-steps {
      width: 50%;
    }
  
    .ant-steps .ant-steps-item-process .ant-steps-item-icon {
      background: #03787c;
      border-color: #03787c;
    }

    .ant-steps .ant-steps-item-process .ant-steps-item-icon >.ant-steps-icon {
      color:#03787c;
      font-weight: bold;
    }

    .ant-steps .ant-steps-item-process .ant-steps-item-icon {
      background-color: white;
      border: 2px solid #03787c!important;
    }

    .ant-steps .ant-steps-item-finish .ant-steps-item-icon {
      background-color: #03787c;
    }

    .anticon svg{
      color: white;
      font-size: 16px;
      text-shadow: white;
    }

    .ant-steps .ant-steps-item-tail::after {
      border: 1px solid #03787c;
    }

    .ant-steps .ant-steps-item-wait .ant-steps-item-icon {
      background-color: #e1dfdd;
      border: 2px solid #03787c;
    }

    .ant-steps .ant-steps-item-wait>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title
    .ant-steps .ant-steps-item-wait .ant-steps-item-icon >.ant-steps-icon {
      color: #03787c;
    }

    .ant-steps .ant-steps-item-process>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title {
      color: #03787c;
    }
  
    .ant-steps .ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title {
      color: #03787c;
    }


    .ant-steps.ant-steps-label-vertical .ant-steps-item-tail{
      padding: 2px 16px;
    }

    .ant-steps .ant-steps-item-title {
      font-size: 12px;
    }

    .ant-steps.ant-steps.ant-steps-label-vertical .ant-steps-item-content{
      margin-top:0px;
    }

    .ant-steps .ant-steps-item-icon .ant-steps-icon {
      top: -1px;
    }


    @media (max-width: 900px) {
      .ant-steps {
        width: auto!important;
      }
    }

    @media (max-width: 550px) {
      .ant-steps {
        width: auto!important;
      }
    }
  }  

}




.error {
  border: 1px solid rgb(164, 38, 44)!important;
  border-radius: 2px;
}

.borderRemove{
  border: transparent;
}

.errorLine {
  border-left: 2px solid rgb(164, 38, 44);
  margin: 0px;
  padding-left: 5px;
}

.errorDialog {
  border: 2px solid rgb(164, 38, 44);
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
}

.languageLabels {
  display: 'flex';
  font-weight: 700;
}

.width200{
  width: 200px!important;
}

.durationLengthInput {
  font-size: 14px;
  color: rgb(50,49,48);
  height: 100%;
  padding: 0px 8px 0px 9px;
  min-width: 61px;
  height:30px;
  white-space: nowrap;
  text-overflow: ellipsis;
  border: 1px solid rgb(96, 94, 92);
  border-radius: 2px;
}
.numbOfOppInput {
  font-size: 14px;
  color: rgb(50,49,48);
  height: 100%;
  padding: 0px 8px 0px 9px;
  //min-width: 61px;
  height:30px;
  white-space: nowrap;
  text-overflow: ellipsis;
  border: 1px solid rgb(96, 94, 92);
  border-radius: 2px;
}

.instruction {
  font-weight: 400;
  font-size: 14px;
  color: #605E5C;
  margin: 0px;
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.mrg0 {
  margin:0;
}

input[type="number"][disabled] {
  color: rgb(161, 159, 157);
  border: none;
 
}

input[type="text"][disabled] {
  color: rgb(161, 159, 157);
}

:global {


  .ms-Dropdown.is-disabled .ms-Dropdown-title {
    color: #4F4F4F; 
  }

  .ms-TextField.is-disabled .ms-TextField-field {
    color: #4F4F4F;   
    border-radius: 2px;
    border: 1px solid #4F4F4F;
  }
}

:global {
  .ms-Dropdown:focus::after , .css-75:focus {
    border: 3px solid #03787c;   
  }

  .ms-ComboBox-Input::placeholder {
  color: #605e5c!important;
}

}

 
.responsiveSpinner {
  display: flex;
  align-items: center;
}

  :global {
    .ql-editor {
      overflow: visible!important;
    }

    .ql-editor.ql-blank:before  {
      font-size: 14px!important;
      color:  rgb(96, 94, 92)!important;
      position:absolute;
      top: 6px;
    }
    .ql-editor, .ql-snow .ql-editor{
      padding: 6px 8px!important;
      animation: none !important; 
    }
  


    .ql-toolbar {
      display: flex !important;
      visibility: visible !important;
      opacity: 1 !important;
      background: #f8f8f8!important;
      border: 1px solid  #605e5c !important;
      border-bottom: 1px solid #605e5c !important;
      border-radius: 2px 2px 0 0 !important;
      margin:0!important;
      animation: none !important;
      transition: none !important;
      //position: absolute;
      height: auto !important;
      position: relative!important;
      top: 0!important;
      font-size: 14px!important;
    }
    .ql-toolbar .ms-TooltipHost{
      position: relative;
    }

    .ql-container {
      border: 1px solid  #605e5c;
      border-radius: 0 0 4px 4px;
    }
    
    .ql-snow.ql-toolbar button {
      background-color: #f8f8f8!important;
      color: black !important;
      margin:1px!important;
    }
    
    .ql-toolbar .ms-Dropdown-title{
      background-color:  #f8f8f8!important;
      color: rgb(36, 35, 35) !important;
      margin:1px!important;
    }
    .toolbarDropDownTitleIcon_d558f376 {
      color: rgb(36, 35, 35) !important;
    }
    .ql-toolbar .ms-Button.is-checked{
      color:#f8f8f8!important;
      background-color: #605e5c!important;
    }

    .toolbarSubmenuCaret_d558f376{
      color: rgb(46, 44, 44) !important;
      }
    
  
  }









 




